<html>
<head>
<style>
body {
    background-color: lightblue;
}

h1 {
    color: back;
    text-align: center;
}
.button {
    background-color: #ffb3ff;
    border: none;
    color: #990099;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
</head>
<body>

<h1>Quiz Cartoon</h1>
<form action="{% url 'myquiz:results' %}" method="post">
{% csrf_token %}
{% for question in question_list %}
    {{ forloop.counter }}.
    {{ question.question_text }}<br>
  
{% for choice in question.choice_set.all %}
    <input type="radio" name="{{ question.id }}" id="choice{{ forloop.counter }}"value="{{choice.select_choice}}"/>
    {{ choice.choice_text }}.<br>
    {% endfor %}
<br>
{% endfor %}

<input type="submit"class="button" value="submit" />
</form>

</body>
</html>

