{% load static %}
<html>
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />
<body>
<h1>Quiz Cartoon</h1>
<form action="{% url 'myquiz:results' %}" method="post">
{% csrf_token %}
{% for question in question_list %}
    {{ forloop.counter }}.
    {{ question.question_text }}<br>
  
{% for choice in question.choice_set.all %}
    <input type="radio" name="{{ question.id }}" id="choice{{ forloop.counter }}" value="{{choice.select_choice}}"/>
    {{ choice.choice_text }}.<br>
    {% endfor %}
<br>
{% endfor %}

<input type="submit" class="button" value="submit" />
</form>

</body>
</html>

